{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-12 contenu-blanc">
<h1>Les catégories de produit</h1>
{{ include('messages.html.twig') }}
<div class="card-columns">
    {% for key, categorie in lesCategories %}                           
             
                <div class= "{{categorie.getChoixCouleur()}}">
                    <div class="card-body text-center" >
                    <p class="card-text" > <h4><a class="nav-link" style="color:black;" href="{{ path('produit_categoriecards', {'id' : categorie.id}) }}">{{categorie.libelle}} </a></h4></p>
                    </div>
                </div>
    {% endfor %}
            
{% endblock %}
